body
{
    margin: 0;
    padding: 0;
    font-family: Alegreya, sans-serif;
    color: #455d58;
    background: #faf7f2;
}
.Load
{
    background: #455d58;
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
}
.sk-cube-grid {
    width: 80px;
    height: 80px;
    margin: 219px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #faf7f2;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
  /*Nav*/
  .Nav
  {
      background-color: #faf7f2;
      padding: 10px 0 0;
      position: fixed;
      top:0;
      width: 100%;
      z-index: 3000;
  }

  .con
  {
    display: flex;
    justify-content: space-between;
  }
 
  .con a:hover,.con a
  {
      color:#455d58;
      text-decoration: none;
  }
  .con a span
  {
    font-size: 32px;
    margin-left: 25px;
    color: #455d58;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }
  .Larg
  {
    margin-right: 20px;
  }
  .Larg ul
  {
    line-height: 3.6;
    margin-bottom: 8px;
    display: flex;
  }
  .Larg ul li {
    font-size: 12.5px;
    margin: 0px 20px;
    letter-spacing: 3px;
    border: 2px solid #faf7f2;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.Larg ul li:hover {
   border-bottom:2px solid  #455d58;
}
.Larg a button {
  background: #455d58;
  transition: all 0.3s ease-in-out;
  color: #faf7f2;
  border-radius: 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 16px;
  border: 1px solid #455d58;
  outline: none;
}
.hvr-shutter-in-vertical:active, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:hover {
    color: #455d58 !important;
    background: #faf7f2;
}
.hvr-shutter-in-vertical:before {
    background: #455d57 !important;
    
}
button.nav-but.d-lg-none
{
    background: none;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

button.nav-but.d-lg-none  span
{
    display: block;
    width: 19px;
    height: 3px;
    background: #455d57;
    margin: 3px 0;
}
.NAV-Down
{
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    background: #455d57;
    width: 100%;
    height: 619px;
    padding: 20px 10px;
    display: none;
}
.Down-but
{
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 20px;
}
.Down-but  button.nav-but.d-lg-none span
{
    background:#faf7f2;
}
.NAV-Down ul
{
    line-height: 3.5;
    margin-top: 90px;
}
.NAV-Down ul li a {
    color: #faf7f2;
}
.NAV-Down ul li
{
    font-size: 13px;
    margin: 0px 20px;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
     font-weight:bold;
}
.NAV-Down ul li:hover {

    transform: scale(1.1);
}
.NAV-Down ul li a:hover {
    color: #faf7f2;
}
/*Header*/
.Header
{
    padding: 100px 0;
}
.Header .f
{
    margin-bottom: 50px;
}

.Header .s span 
{
    display: block;
    padding: 0 0 16px;
    font-size: 26px;
}
.Header .s h2 
{
    font-size: 50px;
    width: 300px;
    margin-bottom: 16px;
}
@media(max-width:767px)
{
    .Header .s p
{
    
    width: auto;
}
}
.Header .s p
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    width: 450px;
    margin: 31px 0;
}

.Header .s button
{
    background: none;
    font-weight: bold;
    padding: 20px 30px;
    letter-spacing: 1.5px;
    font-size: 14px;
    color:#455d58;
    border: 1px solid #455d56;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.Header .s button:hover
{
    
    color:#faf7f2;
    background: #455d58;
    border-color: #faf7f2;
    border-radius: 5px;
}
.dis .carousel{
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 150px;
  }
  .dis .carousel-inner {
    position: relative;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .dis .carousel-indicators li
  {
    width:10px;
    height:10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  @media(max-width:767px)
  {
    .dis .carousel {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 150px;
  }
  }
  @media(max-width:490px){
  .dis .carousel-indicators
  {
    position: relative;
    top:270px;
    display: flex;
  }
  }
  @media(max-width:499px)
{
  .Header .s p
{
  width: 341px;
}
}
/*Hours*/
.Hours
{
  padding: 130px 0;
  background: #455d56;
  color: #faf7f2;
}
.Hours h2
{
  font-size: 52px;
  margin: 0 0 22px;
}
.Hours .f
{
  margin-bottom: 50px;
}
.Hours ul span
{
  padding: 12px 0;
  display: block;
  font-size: 27px;
}
.Hours ul li
{
  font-size: 18px;
    line-height: 1.7;
}
.Hours ul p
{
  padding: 12px 0;
    display: block;
    font-size: 27px;
}
.Hours button
{
  background: none;
  font-weight: bold;
  padding: 20px 30px;
  letter-spacing: 1.5px;
  font-size: 14px;
  color: #faf7f2;
  border: 1px solid #faf7f2;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 3px;
  outline: none;
  margin: 15px 0;
  transition: all 0.3s ease-in-out;
}
.Hours button:hover
{
  color:#455d58;
  background: #faf7f2;
  border: #faf7f2;
}
@media(max-width:767px)
{
  .Hours h2
{
  font-size: 43px;
  margin: 15px 0 22px;
}
}
/*Head*/
.menu
{
  padding: 100px 0;
}
.menu .Head
{
  height: 260px;
  background: url("../image/5e6fabb70f8bc32f97bfa600_valeriia-bugaiova-_pPHgeHz1uk-unsplash_Easy-Resize.com-p-1080.jpeg") no-repeat  center;
  background-size: contain;
}
.menu h2
{
  font-size: 51px;
    margin: 20px 0;
}
.menu p
{
  max-width: 500px;
  margin: 20px auto;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}
.menu .or
{
  display: flex;
  justify-content: center;
}
.menu .or li
{
  margin: 13px 21px;
  font-size: 21px;
  padding: 10px 10px;
  border: 2px solid #faf7f2;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.menu .or li:hover
{
  border-bottom: 2px solid #455d58;
}
.menu .or li:first-of-type
{
  border-bottom: 2px solid #455d58;
  }
  .menu .men
  {
    width:70%;
    margin: 0 auto;
  }
  @media(max-width:992px)
  {
    .menu .men
  {
    width:100%;
  }
  }
.men li {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.men li span:first-of-type {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  text-align: left;
 margin-left: 5px;
}
@media(max-width:767px)
{
  .men li span:first-of-type {
    width: 300px;
  }
}
.men li span:last-of-type {
  font-size: 21px;
  font-weight: bold;
  margin-right: 5px;

}
/*footer*/
.footer
{
  background: #455d56;
  color: #faf7f2;
  padding: 60px 0;
}
.footer .f a
{
  color: #455d58;
  text-decoration: none;
}
.footer .f a span
{
  font-size: 32px;
    margin-left: 25px;
    color: #faf7f2;
}

.footer .s .first span ,.footer .t span
{
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif; font-weight:bold;
  font-size: 17px;
  line-height: 26px;
  font-weight: 200;
}
.footer .first ,.footer .second ,.footer .third ,.footer .t ,.footer .fu ,.footer .fi
{
  margin-bottom: 20px;
}
.footer li
{
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  font-weight: 200;
  letter-spacing: 1.5px;
  transition: all 0.3s ease-in-out;
}
.footer li a {
  color: #faf7f2;
}
.footer li a:hover
{
  text-decoration: none;
}
.footer li:hover
{
  transform: scale(1.08);
}
/*Copy*/
.CopyRight
{
  background: #455d55;
  color: #faf7f2;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 20px;
}
.CopyRight span
{
  margin-left: 27px;
  font-size: 13px;
}
